/**
 * - 横幅が760pxのWebページを作成してください
 * - Webページ全体の背景色を#ccccccにしてください
 * - margin: 0 auto; を使うことでWebページを中央に持ってくることが出来ます。
 */
 body {
  background-color: #cccccc;
  width: 760px;
  margin: 0 auto;
}

/**
 * 小見出し(h2)は以下のようにしてください
 *
 * - 文字色を赤くする
 * - テキストを中央揃えにする
 * - 背景色を黄色にする
 * - 5pxの赤い枠線をつけてください (枠線は点線にする)
 */
h2 {
  color: #ff0000;
  text-align: center;
  background-color: #ffff00;
  border: 5px dashed #ff0000;
}

/**
 * 箇条書き(リスト)は以下のようにしてください
 *
 * - 箇条書きの先頭には「●」をつけないようにしてください
 */
ul {
  list-style-type: none;
}

/**
 * class属性値に「container」をつけた要素は以下のようにしてください
 *
 * - 要素の下に20pxのマージンをつくってください
 */
.container {
  margin-bottom: 20px;
}

/**
 * class属性値に「bold」をつけた要素を以下のようにしてください
 *
 * - 文字を太字にしてください
 */
.bold {
  font-weight: bold;
}

/**
 * id属性値に「important」をつけた要素は以下のようにしてください
 *
 * - 文字サイズを30pxにする
 * - 文字色を#aa0000にする
 */
#important {
  font-size: 30px;
  color: #aa0000;
}