/**
 * - 横幅が760pxのWebページを作成してください
 * - margin: 0 auto; を使うことでWebページを中央に持ってくることが出来ます。
 * - 背景色を #cccccc とする
 */


/**
 * - 見出し(h1)は中央揃えにしてください
 */


/**
 * フレックスボックスのフレックスコンテナーとなる要素
 *
 * - 親要素の横幅と同じにする(%を使った書き方で記述する)
 * - フレックスコンテナーとするためのプロパティをセットする。(ヒント display: 〇〇〇〇;)
 * - フレックスアイテムがフレックスコンテナー内に収まりきらない場合は、改行するようにする(ヒント: flex-wrapプロパティ)
 */


/**
 * フレックスボックスのフレックスアイテムとなる要素
 * 1行につきフレックスアイテムは3個置くようにする
 *
 * - ひとつあたりのフレックスアイテムの横幅は243pxとする
 * - marginは左右に5px, 下に10px指定する
 * - 背景色を #ffffff とする
 *
 * 横幅が243pxの理由:
 *    - 親要素760px
 *    - marginの左右の合計値は30px
 *      - (5px + 5px (左右のmargin)) × 3(1行あたりのフレックスアイテムの数))
 *    - 残り使える横幅は730px
 *      - 760px - 30px
 *    - 730px ÷ 3 = 243.3333....(243px)
 */


/**
 * - 画像タイトルは中央寄せにして
 * - デフォルトの文字サイズを100%として、80%の大きさにする
 */


/**
 * フレックスアイテム内の画像は親要素の横幅と同じにする(%を使った書き方で記述する)
 */
