/**
 * - 横幅が760pxのWebページを作成してください
 * - margin: 0 auto; を使うことでWebページを中央に持ってくることが出来ます。
 */

/**
 * - 見出し(h1)は中央揃えにしてください
 */


/**
 * - テーブル(table)の横幅は350pxとする
 * - 中央揃えにする(ヒント: margin, auto)
 */

/**
 * - テーブル内の各項目(td)のサイズを正方形にするために、高さ・横幅ともに100pxとする
 */

/**
 * - テーブル内のセルに縦線(vertical line)をつけるためのボーダーをセットする
 * - クラスセレクターを使ってスタイルを定義する
 *   - クラス属性値は `vertical` とする
 * - 上下のボーダーはいらないのでborder-left, border-rightプロパティを使って、指定した要素の左右にだけボーダーを作る
 * - ボーダーは「太さは1px」「スタイルはsolid」「色は#000000」とする
 */

/**
 * - テーブル内のセルに横線(horizontal line)をつけるためのボーダーをセットする
 * - クラスセレクターを使ってスタイルを定義する
 *   - クラス属性値は `horizontal` とする
 * - 左右ののボーダーはいらないのでborder-top, border-bottomプロパティを使って、指定した要素の上下にだけボーダーを作る
 * - ボーダーは「太さは1px」「スタイルはsolid」「色は#000000」とする
 */

/**
 * 発展課題
 *
 * - 各セル(td)にマウスが乗ったら、上下左右4方向に「太さ: 1px」「スタイル: solid」「色: #aaaaaa」のボーダーを表示する
 * - ヒント: CSSの擬似クラスである:hoverを使う( https://developer.mozilla.org/ja/docs/Web/CSS/:hover )
 *   - 擬似クラスは学習コンテンツでは扱っていませんが、ドキュメントを見て課題を解決スキルを身につけるのを目的に発展課題を用意しました
 */