/**
 * - 横幅が760pxのWebページを作成してください
 * - Webページ全体の背景色を#ccccccにしてください
 * - margin: 0 auto; を使うことでWebページを中央に持ってくることが出来ます。
 */


/**
 * 小見出し(h2)は以下のようにしてください
 *
 * - 文字色を赤くする
 * - テキストを中央揃えにする
 * - 背景色を黄色にする
 * - 5pxの赤い枠線をつけてください (枠線は点線にする)
 */


/**
 * 箇条書き(リスト)は以下のようにしてください
 *
 * - 箇条書きの先頭には「●」をつけないようにしてください
 */


/**
 * class属性値に「container」をつけた要素は以下のようにしてください
 *
 * - 要素の下に20pxのマージンをつくってください
 */


/**
 * class属性値に「bold」をつけた要素を以下のようにしてください
 *
 * - 文字を太字にしてください
 */


/**
 * id属性値に「important」をつけた要素は以下のようにしてください
 *
 * - 文字サイズを30pxにする
 * - 文字色を#aa0000にする
 */
